@charset "UTF-8";
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: rgba(0, 70, 128, 0.25);
  border: 1px solid #77c2ff;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Exo 2';
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #3864a1;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  text-align: left; }

span {
  font-weight: 400;
  margin-bottom: .85em; }
  span.required::after {
    content: "*";
    color: #ffcf22; }

fieldset abbr {
  display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-left: 1px solid rgba(119, 194, 255, 0.75);
    border-bottom: 1px solid rgba(119, 194, 255, 0.75); }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-left: 1px solid #77c2ff;
    border-bottom: 1px solid #77c2ff;
    box-shadow: none, 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical;
  font-size: 1em; }
  textarea:hover {
    border: 1px solid rgba(119, 194, 255, 0.75); }
  textarea:focus {
    border: 1px solid #77c2ff;
    box-shadow: none, 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a5a5a5;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #355d97; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.hero {
 /* $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B; 

  $gradient-angle: 10deg;
  $hero-image: '../img/tulip-bg-1-1000x600.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
 */
  background-color: transparent;
                                 /*
background-position: top;
background-repeat: no-repeat;
background-size: cover; */
  padding-bottom: 1em; }
  .hero .hero-logo img {
    height: 10em;
    margin-bottom: 1em;
    margin-top: 1em; }
    @media screen and (min-width: 900px) {
      .hero .hero-logo img {
        font-size: 1.5em; } }
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding: 1.5em;
    text-align: center; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    .hero .hero-inner .hero-copy h1 {
      color: #ffCF22;
      font-size: 2.5em;
      margin-bottom: 0.5em;
      font-weight: 400;
      text-align: center; }
      @media screen and (min-width: 900px) {
        .hero .hero-inner .hero-copy h1 {
          font-size: 5em;
          max-width: 80;
          margin-left: auto;
          margin-right: auto; }
          .hero .hero-inner .hero-copy h1::after {
            clear: both;
            content: "";
            display: table; } }
    .hero .hero-inner .hero-copy h2 {
      color: white;
      line-height: 1.4em;
      margin: 0 auto 1.25em auto;
      font-weight: 400;
      font-size: 1.25em;
      text-align: center; }
      @media screen and (min-width: 900px) {
        .hero .hero-inner .hero-copy h2 {
          font-size: 2em;
          max-width: 60%;
          margin: 0 auto 1.75em auto; } }

.accordion-tabs-minimal {
  /* @include span-columns(8);
   @include shift(2);
   text-align: center; */
  line-height: 1.5;
  padding: 0; }
  .accordion-tabs-minimal::after {
    clear: both;
    content: "";
    display: table; }
  .accordion-tabs-minimal li.tab-header-and-content {
    list-style: none; }
    @media screen and (min-width: 600px) {
      .accordion-tabs-minimal li.tab-header-and-content {
        display: inline; } }
  .accordion-tabs-minimal a.tab-link {
    background-color: rgba(34, 119, 207, 0.5);
    border-top: 0px solid #8bcbff;
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
    min-width: 10em;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 10px 10px; }
    @media screen and (min-width: 600px) {
      .accordion-tabs-minimal a.tab-link {
        display: inline-block;
        text-align: center;
        border-top: 0; } }
    .accordion-tabs-minimal a.tab-link:hover {
      color: white; }
    .accordion-tabs-minimal a.tab-link:focus {
      outline: 0; }
    .accordion-tabs-minimal a.tab-link.is-active {
      border-bottom: 0px;
      background-color: rgba(119, 207, 34, 0.5); }
      @media screen and (min-width: 600px) {
        .accordion-tabs-minimal a.tab-link.is-active {
          border: 0px solid #8bcbff;
          border-bottom-color: #bbec8b;
          margin-bottom: -1px; } }
  .accordion-tabs-minimal .tab-content {
    display: none;
    padding: none;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .accordion-tabs-minimal .tab-content {
        border-top: 0px solid #8bcbff;
        float: left; } }

.footer-2 {
  border-top: 5px solid #77c2ff;
  background: rgba(0, 70, 128, 0.5);
  padding: 1.5em;
  width: 100%;
  display: inline-block;
  margin-bottom: -20px;
  margin-top: 5em; }
  .footer-2 .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;
    margin-bottom: 0; }
    @media screen and (min-width: 900px) {
      .footer-2 .footer-logo {
        float: left; } }
  .footer-2 .footer-logo img {
    height: 1.6em; }
  .footer-2 ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0; }
    @media screen and (min-width: 900px) {
      .footer-2 ul {
        float: left;
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0; } }
  .footer-2 ul li {
    list-style: none;
    padding-right: 1em; }
    @media screen and (min-width: 900px) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  .footer-2 ul li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer-2 ul li a:focus, .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 900px) {
    .footer-2 .footer-secondary-links {
      float: right; } }
  .footer-2 .footer-secondary-links li {
    font-size: 0.8em; }
  .footer-2 .footer-secondary-links ul.footer-social {
    margin: 1em 0 0 0; }
    @media screen and (min-width: 900px) {
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    .footer-2 .footer-secondary-links ul.footer-social li {
      font-size: 1em;
      float: left;
      line-height: 0;
      margin: 0;
      padding-right: 0.7em; }
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    .footer-2 .footer-secondary-links ul.footer-social img {
      height: 1.6em;
      opacity: 0.7;
      padding: 1px; }
      .footer-2 .footer-secondary-links ul.footer-social img:focus, .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }

.centered-navigation {
  background-color: rgba(0, 70, 128, 0.5);
  border-bottom: 5px solid #77c2ff;
  min-height: 60px;
  width: 100%;
  z-index: 9999; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: .6;
      padding: .8em 0; }
    @media screen and (min-width: 900px) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-mobile-menu {
    color: white;
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 900px) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #333; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 900px) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 900px) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: rgba(0, 70, 128, 0.5);
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .centered-navigation ul li.nav-link a {
      color: white;
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        color: #333; }
    @media screen and (min-width: 900px) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 900px) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.6; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 900px) {
      .centered-navigation li.more.nav-link {
        padding-right: 1em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 1em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(51, 51, 51, 0.7);
      content: "\25BE"; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 1em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 900px) {
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      .centered-navigation li.more > a:after {
        content: "ÔÇ║";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .centered-navigation li.more:focus > .submenu, .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 900px) {
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 900px) {
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 900px) {
      .centered-navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 900px) {
        .centered-navigation ul.submenu li {
          line-height: 46.15385px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: .7em; } }
      .centered-navigation ul.submenu li a {
        background-color: rgba(0, 62, 112, 0.5);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 900px) {
          .centered-navigation ul.submenu li a {
            background-color: rgba(0, 70, 128, 0.5);
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .cards::after {
    clear: both;
    content: "";
    display: table; }

.card {
  -webkit-flex-basis: 15em;
  -moz-flex-basis: 15em;
  flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  border: 5px solid rgba(119, 194, 255, 0.1);
  cursor: pointer;
  margin: 2em 2em 1.5em 2em;
  position: relative; }
  .card .card-image {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    background-color: rgba(255, 207, 34, 0.5); }
    .card .card-image img {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 100%;
      opacity: 1; }
  .card .card-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: rgba(119, 194, 255, 0.1);
    border-bottom: 5px solid #77c2ff;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    color: #77cf22; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em; }
    .card .card-copy p {
      margin: 0 0 0.75em; }
    .card .card-copy table {
      text-align: left;
      text-transform: uppercase; }
  .card:focus, .card:hover {
    cursor: pointer;
    border: 5px solid #77c2ff; }
    .card:focus p, .card:hover p {
      color: #ffcf22; }
    .card:focus img, .card:hover img {
      opacity: 0.7; }
  .card:active {
    border: 5px solid #77c2ff; }

/*! Tablesaw - v2.0.2 - 2015-10-28
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2015 Filament Group; Licensed  */
/*! Tablesaw - v2.0.2 - 2015-10-28
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2015 Filament Group; Licensed  */
table.tablesaw {
  empty-cells: show;
  max-width: 100%;
  width: 100%; }

.tablesaw {
  border-collapse: collapse;
  table-layout: fixed; }
  .tablesaw th {
    color: white; }
  .tablesaw td {
    color: #77cf22;
    width: auto; }

/* Structure */
.tablesaw {
  border: 0;
  padding: 0; }

.tablesaw th,
.tablesaw td {
  box-sizing: border-box;
  border: none;
  padding: .5em .7em; }

.tablesaw thead tr th {
  padding-top: 0;
  padding-bottom: 0; }
  @media (min-width: 50em) {
    .tablesaw thead tr th {
      padding-top: 1.2em;
      padding-bottom: 1.2em; } }

.tablesaw-stack td .tablesaw-cell-label,
.tablesaw-stack th .tablesaw-cell-label {
  display: none; }

/* Mobile first styles: Begin with the stacked presentation at narrow widths */
@media only all {
  /* Show the table cells as a block level element */
  .tablesaw-stack td,
  .tablesaw-stack th {
    text-align: left;
    display: block; }

  .tablesaw-stack tr {
    clear: both;
    display: table-row; }

  /* Make the label elements a percentage width */
  /* .tablesaw-stack td .tablesaw-cell-label, removing td from this declaration gives me the th-only styling I want for mobile */
  .tablesaw-stack th .tablesaw-cell-label {
    display: inline-block;
    padding: 0 .6em 0 0;
    margin: 0; }

  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
  .tablesaw-stack th .tablesaw-cell-label-top,
  .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0; }

  .tablesaw-cell-label {
    display: block; }

  /* Avoid double strokes when stacked */
  .tablesaw-stack tbody th.group {
    margin-top: -1px; }

  /* Avoid double strokes when stacked */
  .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important; } }
body {
  background: url(../img/tulip-bg-1-1000x600.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 0px 0px;
  margin: 0px 0px;
  font-family: 'Exo 2', sans-serif; }

h1 {
  font-family: 'Neuton'; }

h2, h4, h6, p {
  font-family: 'Exo 2'; }

h3, h5 {
  font-family: 'Neuton'; }

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section::after {
    clear: both;
    content: "";
    display: table; }
  section h2 {
    color: white;
    line-height: 1.4em;
    margin: 0 auto 1.25em auto;
    font-weight: 400;
    font-size: 1.75em;
    text-align: center; }
  section p {
    color: #efefef;
    line-height: 1.4em;
    margin: 0 auto 1.25em auto;
    font-weight: 300;
    font-size: 1.25em;
    text-align: center; }

.center {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.tulip-table {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em; }
  @media (max-width: 29.9375em) {
    .tulip-table {
      /*
      .tablesaw-stack tbody td.model {
          display: inline-block;
          position: absolute;
          color: white;
      } 
      .tablesaw-stack td,
      .tablesaw-stack th {
        text-align: center;
        display: block;
      } 
      
      */ }
      .tulip-table table {
        border-top: 5px solid #ffcf22;
        border-bottom: 5px solid #ffcf22; }
      .tulip-table tr:nth-of-type(1):before {
        content: "FANUC 6-ALL"; }
      .tulip-table tr:nth-of-type(2):before {
        content: "FANUC 9-ALL"; }
      .tulip-table tr:nth-of-type(3):before {
        content: "FANUC 11-ALL"; }
      .tulip-table tr:nth-of-type(4):before {
        content: "FANUC 12-ALL"; }
      .tulip-table tr:nth-of-type(5):before {
        content: "FANUC 15A"; }
      .tulip-table tr:nth-of-type(6):before {
        content: "FANUC 15B"; }
      .tulip-table tr:nth-of-type(7):before {
        content: "FANUC 15iB"; }
      .tulip-table tr:nth-of-type(8):before {
        content: "FANUC 16iA"; }
      .tulip-table tr:nth-of-type(9):before {
        content: "FANUC 16A"; }
      .tulip-table tr:nth-of-type(10):before {
        content: "FANUC 16B"; }
      .tulip-table tr:nth-of-type(11):before {
        content: "FANUC 16C"; }
      .tulip-table tr:nth-of-type(12):before {
        content: "FANUC 18iA"; }
      .tulip-table tr:nth-of-type(13):before {
        content: "FANUC 18A"; }
      .tulip-table tr:nth-of-type(14):before {
        content: "FANUC 18B"; }
      .tulip-table tr:nth-of-type(15):before {
        content: "FANUC 18C"; }
      .tulip-table tr:nth-of-type(16):before {
        content: "FANUC 0-ANALOG"; }
      .tulip-table tr:nth-of-type(17):before {
        content: "FANUC 0-DIGITAL"; }
      .tulip-table tr:nth-of-type(18):before {
        content: "FANUC 10-ANALOG"; }
      .tulip-table tr:nth-of-type(19):before {
        content: "FANUC 10-DIGITAL"; }
      .tulip-table tr:nth-of-type(20):before {
        content: "YASNAC LX1"; }
      .tulip-table tr:nth-of-type(21):before {
        content: "YASNAC LX2"; }
      .tulip-table tr:nth-of-type(22):before {
        content: "YASNAC LX3"; }
      .tulip-table tr:nth-of-type(23):before {
        content: "YASNAC MX1"; }
      .tulip-table tr:nth-of-type(24):before {
        content: "YASNAC MX2"; }
      .tulip-table tr:nth-of-type(25):before {
        content: "YASNAC MX3"; }
      .tulip-table tr:nth-of-type(26):before {
        content: "YASNAC I-80"; }
      .tulip-table tr:nth-of-type(27):before {
        content: "MISTUBISHI MITS 500 / MAZAK PLUS"; }
      .tulip-table tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.2); }
      .tulip-table tbody tr > td:hover {
        background-color: none; }
      .tulip-table tbody tr:hover > th {
        background-color: none; }
      .tulip-table tbody tr:before {
        color: white; }
      .tulip-table .tablesaw-stack thead tr,
      .tulip-table .tablesaw-stack thead th {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0; }
      .tulip-table .tablesaw-stack tbody tr {
        display: inline-block;
        width: auto;
        max-width: 100%;
        border-style: collapse;
        border-left: 5px solid #ffcf22;
        padding: 0.5em; }
      .tulip-table .tablesaw-stack tbody th {
        display: none;
               /*
clear: left;
float: left; */ }
      .tulip-table .tablesaw-stack tbody tr {
        height: 4.5em; }
      .tulip-table .tablesaw-stack tbody td {
        display: table-cell;
        color: #77cf22;
        text-align: left;
        padding: .25em;
        margin: .25em; }
      .tulip-table .tablesaw-cell-label {
        vertical-align: top; }
      .tulip-table .tablesaw-stack td:empty,
      .tulip-table .tablesaw-stack th:empty {
        display: none; }
      .tulip-table .tablesaw-cell-content {
        display: inline-block; } }
  @media (min-width: 30em) {
    .tulip-table {
      /* Show the table header rows */
      /*
       tr:first-child td {
          border-top: 2px solid $border-color-color;
        } */
      /* Hide the labels in each cell */ }
      .tulip-table .tablesaw-stack {
        border-left: 5px solid #77cf22;
        border-right: 5px solid #77cf22; }
      .tulip-table .tablesaw-stack tr {
        display: table-row; }
      .tulip-table .tablesaw-stack tr:first-of-type {
        border-top: 5px solid #77cf22; }
      .tulip-table .tablesaw-stack tr:last-of-type {
        border-bottom: 5px solid #77cf22; }
      .tulip-table .tablesaw-stack td,
      .tulip-table .tablesaw-stack th,
      .tulip-table .tablesaw-stack thead td,
      .tulip-table .tablesaw-stack thead th {
        display: table-cell; }
      .tulip-table .tablesaw-stack thead th {
        color: #123126;
        display: none; }
      .tulip-table .tablesaw-stack tbody th {
        -webkit-column-width: 200px;
        /* Chrome, Safari, Opera */
        -moz-column-width: 200px;
        /* Firefox */
        column-width: 200px; }
      .tulip-table tbody tr:nth-child(odd) {
        background-color: rgba(63, 110, 18, 0.25); }
      .tulip-table tbody tr:nth-child(even) {
        background-color: rgba(190, 237, 145, 0.25); }
      .tulip-table tbody th:nth-child(odd) {
        background-color: rgba(119, 207, 34, 0.35); }
      .tulip-table tbody th:nth-child(even) {
        background-color: rgba(119, 207, 34, 0.35); }
      .tulip-table tbody tr > td:hover {
        background-color: #77cf22;
        color: white; }
      .tulip-table tbody tr:hover > th {
        background-color: #77cf22; }
      .tulip-table .tablesaw-stack td .tablesaw-cell-label,
      .tulip-table .tablesaw-stack th .tablesaw-cell-label {
        display: none !important; } }
  .tulip-table::after {
    clear: both;
    content: "";
    display: table; }

.table-title {
  background: rgba(0, 70, 128, 0.5);
  border-top: 5px solid #77c2ff;
  border-bottom: 5px solid #77c2ff;
  height: auto;
  width: 100%;
  margin-bottom: 1.25em;
  color: white;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em; }
  .table-title h1 {
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Exo 2';
    color: #77cf22; }
  .table-title h2, .table-title h3 {
    font-size: 1.5em;
    font-weight: 400;
    padding-top: .5em;
    padding-bottom: 0.6em; }
  .table-title h4, .table-title h5 {
    font-size: 1.5em;
    font-weight: 400;
    padding-top: .25em;
    padding-bottom: 0.3em; }
  .table-title p {
    color: #ccc;
    font-size: 1em; }
  .table-title a {
    background-color: rgba(0, 70, 128, 0.25);
    border: 1px solid #77c2ff;
    border-radius: 3px;
    color: white;
    display: block;
    padding: .75em;
    text-decoration: none;
    max-width: 20em;
    text-align: center;
    margin: 2.5em auto; }
  .table-title a:hover {
    background-color: rgba(0, 98, 179, 0.75); }
  .table-title a:active {
    background-color: rgba(0, 98, 179, 0.75); }
  .table-title a:focus {
    background-color: rgba(0, 98, 179, 0.75); }
  @media (min-width: 30em) {
    .table-title {
      margin-bottom: 5em; }
      .table-title h3 {
        font-size: 2.5em; } }

.table-title-2 {
  background: rgba(15, 0, 40, 0.5);
  border-top: 5px solid #ffcf22;
  border-bottom: 5px solid #ffcf22;
  height: auto;
  width: 100%;
  margin-top: 4em;
  margin-bottom: 1.25em;
  color: white;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em; }
  .table-title-2 h1 {
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Exo 2';
    color: #77cf22; }
  .table-title-2 h2, .table-title-2 h3 {
    font-size: 1.5em;
    font-weight: 400;
    padding-top: .5em;
    padding-bottom: 0.6em; }
  .table-title-2 h4, .table-title-2 h5 {
    font-size: 1.5em;
    font-weight: 400;
    padding-top: .25em;
    padding-bottom: 0.3em; }
  .table-title-2 p {
    color: #ccc;
    font-size: 1em; }
  .table-title-2 a {
    background-color: rgba(0, 70, 128, 0.25);
    border: 1px solid #77c2ff;
    color: white;
    display: block;
    padding: .75em;
    text-decoration: none;
    max-width: 20em;
    text-align: center;
    margin: 2.5em auto; }
  .table-title-2 a:hover {
    background-color: rgba(0, 98, 179, 0.75); }
  .table-title-2 a:active {
    background-color: rgba(0, 98, 179, 0.75); }
  .table-title-2 a:focus {
    background-color: rgba(0, 98, 179, 0.75); }
  @media (min-width: 30em) {
    .table-title-2 {
      margin-bottom: 5em; }
      .table-title-2 h3 {
        font-size: 2.5em; } }

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

/*

form fieldset {}
form fieldset label {}
form fieldset span {}
form fieldset input {}
form fieldset input[type=radio] {}
form fieldset input[type=checkbox] {}
*/
form {
  font-family: 'Exo 2', sans-serif;
  height: auto;
  width: 100%;
  margin-bottom: 1.25em;
  color: white;
  padding-left: 1.5em;
  padding-right: 1.5em; }

form h2 {
  margin-top: 1.5em; }

p.lead {
  font-size: 1.25em;
  text-align: left;
  color: white;
  width: 90%; }
  @media screen and (min-width: 40em) {
    p.lead {
      width: 80%; } }
  @media screen and (min-width: 60em) {
    p.lead {
      width: 60%; } }

p.required {
  font-size: .8em;
  text-align: center;
  color: rgba(255, 207, 34, 0.75);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1em; }

form fieldset h1, h2, h3, h4, h5, h6 {
  text-align: left; }

form fieldset p {
  display: block;
  margin: auto; }

form fieldset p label {
  display: inline-block;
  margin: auto;
  font-size: 1em;
  font-weight: 300;
  width: 25%; }

form fieldset p label span {
  margin: 0;
  color: #77c2ff;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: uppercase; }

form fieldset p label.textarea {
  width: 0;
  width: 50%; }

form fieldset p input {
  color: white;
  font-weight: 400;
  border-top: none;
  border-right: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

form fieldset textarea {
  color: white;
  font-weight: 400;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5); }
  form fieldset textarea:hover {
    border: 1px solid rgba(119, 194, 255, 0.5); }

@media screen and (min-width: 30em) {
  th#first-column {
    width: 20%; } }

/*# sourceMappingURL=app.css.map */
