body {	
	@include clearfix;
	background: url(../img/tulip-bg-1-1000x600.jpg) no-repeat center center fixed; 
	// #1155bb // #2600a2 // adjust-color(#ffcf22, $hue: 280deg, $lightness: -25%); // #202030; //#131318; //
	background-size: cover;
	padding: 0px 0px;
	margin: 0px 0px;
	font-family: 'Exo 2', sans-serif;
}

h1 {
	font-family: 'Neuton';
}
h2, h4, h6, p {
	font-family: 'Exo 2';
}
h3, h5 {
	font-family: 'Neuton';
}

section {
  @include outer-container;

        h2 {
        color: white; // scale-color($hero-color, $red: 40%, $green: 100%, $blue: 100%);
        line-height: 1.4em;
        margin: 0 auto 1.25em auto; 
        font-weight: 400;
        font-size: 1.75em;
        text-align: center;
    }
          p {
        color: #efefef; // scale-color($hero-color, $red: 40%, $green: 100%, $blue: 100%);
        line-height: 1.4em;
        margin: 0 auto 1.25em auto; 
        font-weight: 300;
        font-size: 1.25em;
        text-align: center;
    }
}

.center {
	margin: 0;
	padding: 0;
	display: block;
}

.right {
	text-align: right;
}
.left {
	text-align: left;
}

.tulip-table {
	@include tablesaw-stack( 30em );
	@include outer-container;
}
$banner-background:	adjust-color(#ffcf22, $hue: 207deg, $lightness: -25%);

.table-title {
	background: change-color(#77c2ff, $lightness: 25%, $alpha: .5); // #123126; // #152025; // #252015; // #0B2C36;
	border-top: 5px solid #77c2ff;
	border-bottom: 5px solid #77c2ff;
	height: auto;
	width: 100%;
	margin-bottom: 1.25em;
	color: white;
	text-align: center;
	padding-left: 1.5em;
	padding-right: 1.5em;

	h1 {
		margin-top: 2em;
		font-size: 1.5em;
		font-weight: 400;
		font-family: 'Exo 2';
		color: #77cf22;
	}
	h2, h3 {
		font-size: 1.5em;
		font-weight: 400;
		padding-top: .5em;
		padding-bottom: 0.6em;
	}
	h4, h5 {
		font-size: 1.5em;
		font-weight: 400;
		padding-top: .25em;
		padding-bottom: 0.3em;
	}
	p {
		color: #ccc;
		font-size: 1em;
	}
	a {
		background-color: change-color(#77c2ff, $lightness: 25%, $alpha: .25); 
	    border: 1px solid #77c2ff;
	    color: white;
	    display: block;
	    padding: .75em;
	    text-decoration: none;
	    max-width: 20em;
	    text-align: center;
	    margin: 2.5em auto;
	}
	a:hover {
    		background-color: change-color(#77c2ff, $lightness: 35%, $alpha: .75); 
   			}
	a:active {
    		background-color: change-color(#77c2ff, $lightness: 35%, $alpha: .75); 
   			}
   	a:focus {
    		background-color: change-color(#77c2ff, $lightness: 35%, $alpha: .75); 
   			}

	@media (min-width: 30em) {
		margin-bottom: 5em;
		h3 {
		font-size: 2.5em;
		}
	}
}
.hidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
/*

form fieldset {}
form fieldset label {}
form fieldset span {}
form fieldset input {}
form fieldset input[type=radio] {}
form fieldset input[type=checkbox] {}
*/
form {
	background: change-color(#77c2ff, $lightness: 25%, $alpha: .25); // #123126; // #152025; // #252015; // #0B2C36;
	border: 5px solid #77cf22;
	height: auto;
	width: 100%;
	margin-bottom: 1.25em;
	margin-top: 2.5em;
	color: white;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

	p.lead {
		font-size: 1.25em;
		text-align: center;
		color: #77cf22;
		width: 80%;
	}
	p.caution {
		font-size: 1em;
		text-align: center;
		color: #ffcf22;
		font-weight: 400;
	}
form fieldset h1, h2, h3, h4, h5, h6 {
	text-align: left;
}
form fieldset p {
	display: block;
	margin: auto;
}
form fieldset p label {
	display: inline-block;
	margin: auto;
	color: change-color(#77cf22, $alpha: 0.75);
}
form fieldset input {
	color: white;
	font-weight: 400;
	width: 100%;
	border-top: none;
	border-right: none;
	border-left: 1px solid change-color(#77cf22, $alpha: 0.5);
	border-bottom: 1px solid change-color(#77cf22, $alpha: 0.5);

}
p input:nth-of-type(2n) {
		margin-left: 2em;
		border-top: 3px solid red;
	}