
.hero {  
 /* $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B; 

  $gradient-angle: 10deg;
  $hero-image: '../img/tulip-bg-1-1000x600.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
 */
  $hero-color: #ffCF22;
  background-color: rgba(0,0,0,0); /*
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; */
  padding-bottom: 1em;

  .hero-logo img {
    height: 10em;
    margin-bottom: 1em;
    margin-top: 1em;
     @include media($large-screen) {
          font-size: 1.5em;
        }
  }

  .hero-inner {
    @include outer-container();
    @include clearfix;
    margin: auto;
    padding: 1.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        color: $hero-color;
        font-size: 2.5em;
        margin-bottom: 0.5em;
        font-weight: 400;

        @include media($large-screen) {
          font-size: 5em;
          @include outer-container(80);
        }
      }

      h2 {
        color: white; // scale-color($hero-color, $red: 40%, $green: 100%, $blue: 100%);
        line-height: 1.4em;
        margin: 0 auto 1.25em auto; 
        font-weight: 400;
        font-size: 1.25em;

        @include media($large-screen) {
          font-size: 2em;
          max-width: 60%;
          margin: 0 auto 1.75em auto; 
        }
      }
    }
  }
}
