
.hero {  
  $hero-color: #ffCF22;
  background-color: rgba(0,0,0,0); 
  padding-bottom: 1em;

  .hero-logo img {
    height: 10em;
    margin-bottom: 1em;
    margin-top: 1em;
     @include media($large-screen) {
          font-size: 1.5em;
        }
  }

  .hero-inner {
    @include outer-container();
    @include clearfix;
    margin: auto;
    padding: 1.5em;
    text-align: center;

    .hero-copy {

      h1 {
        color: $hero-color;
        font-size: 2.15em;
        margin-bottom: 0.5em;
        font-weight: 400;
        text-align: center;
      

        @include media($large-screen) {
          font-size: 2.75em;
          @include outer-container(80em);
        }
      }

      h2 {
        color: white; // scale-color($hero-color, $red: 40%, $green: 100%, $blue: 100%);
        line-height: 1.4em;
        margin: 0 auto 1.5em auto; 
        font-weight: 400;
        font-size: 1.25em;
        text-align: center;
        width: auto;

        @include media($large-screen) {
          font-size: 1.75em;
          max-width: 60%;
          margin: 0 auto 1.75em auto; 
        }
      }
    }
  }
}
