.form-container {
  width: 100%;
  @media screen and (min-width: 40em) { width: 70%; }
  @media screen and (min-width: 65em) { width: 50%; }
}

form {
  font-family: 'Exo 2', sans-serif;
  //background: change-color(#77c2ff, $lightness: 25%, $alpha: .25); // #123126; // #152025; // #252015; // #0B2C36;
  //border: 5px solid #77cf22;
  height: auto;
  width: 100%;
  margin-bottom: 1.25em;
  color: white;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
}
form h2 {
  margin-top: 1.5em;
}

fieldset {
  background-color: none; // change-color(white, $alpha: .05);
  border: none;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
  width: 100%;
  color: white;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  text-align: left;
  color: white;

}

  span {
  font-weight: 400;
  margin-bottom: .85em;

 /* &.required::after {
    content: "*";
    color: #ffcf22;
  }*/
  }
  fieldset abbr {
    display: none;
  }
form fieldset h1, h2, h3, h4, h5, h6 {
  text-align: left;
}
form fieldset p {
  display: block;
  margin: 0;
  width: 100%;
}
form fieldset p label {
  display: inline-block;
  margin: 0 0 0 0;
  font-size: 1.15em;
  font-weight: 300;
  width: 100%;
}

form fieldset p label span {
  margin: 0;
  color: #77c2ff;
  font-size: 0.75em;

}
form fieldset p label.textarea  {
  width: 0;
  width: 98%;
}
form fieldset p input {
  color: white;
  font-weight: 400;
  border: 2px solid change-color(white, $alpha: 0.2);
/*
  border-left: 1px solid change-color(white, $alpha: 0.5);
  border-bottom: 1px solid change-color(white, $alpha: 0.5); */
}

form fieldset textarea {
  color: white;
  font-weight: 400;
  width: 100%;
  border: 2px solid change-color(white, $alpha: 0.2);
   &:hover {
    border: 2px solid change-color(#77c2ff, $alpha: 0.5);
  }
}

#{$all-text-inputs},
select[multiple=multiple] {
  background-color: $base-background-color;
 // border: $base-border;
  border-radius: 0;
  box-shadow: none;
  background-color: change-color(black, $alpha: 0.5);
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border: 2px solid change-color(#77c2ff, $alpha: 0.5);
  }

  &:focus {
    border: 2px solid change-color(#77c2ff, $alpha: 1);
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
  font-size: 1em; 

  &:hover {
    border: 2px solid change-color(#77c2ff, $alpha: 0.5);
  }

  &:focus {
    border: 2px solid change-color(#77c2ff, $alpha: 1);
    outline: none;
  }
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}
